<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>24G624</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>RTL812xLucy</string>
	<key>CFBundleIdentifier</key>
	<string>com.insanelymac.RTL812xLucy</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RTL812xLucy</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.100</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25C58</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.2</string>
	<key>DTSDKBuild</key>
	<string>25C58</string>
	<key>DTSDKName</key>
	<string>macosx26.2</string>
	<key>DTXcode</key>
	<string>2630</string>
	<key>DTXcodeBuild</key>
	<string>17C529</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>RTL8125</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.insanelymac.RTL812xLucy</string>
			<key>Driver Parameters</key>
			<dict>
				<key>enableASPM</key>
				<true/>
				<key>enableTSO4</key>
				<true/>
				<key>enableTSO6</key>
				<true/>
				<key>fallbackMAC</key>
				<string></string>
				<key>µsPollTime10G</key>
				<integer>100</integer>
				<key>µsPollTime2G</key>
				<integer>160</integer>
				<key>µsPollTime5G</key>
				<integer>130</integer>
			</dict>
			<key>DriverVersion</key>
			<string>1.1.100</string>
			<key>IOClass</key>
			<string>RTL8125</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x812510ec 0x81251186 0x300010ec 0x812610ec 0x500010ec</string>
			<key>IOPCITunnelCompatible</key>
			<false/>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Laura Müller. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.8.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.6</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.10.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
